extends layout.jade

block content
    h1 2048 Game
        
    a(href='/')
        button(type='button') New Game

    h3 Tablero:
    h3 x | x | x | x
    h3 x | x | x | x
    h3 x | x | x | x
    h3 x | x | x | x    

    a(href='/')
        button(type='button') Save Game
    br
    a(href='/')
        button(type='button') Log Out