extends layout.jade

block content
    h1 Sign Up
        form(method='POST' action='/signup')
            label(for='username') Username:
            input(type='text', placeholder='username' name='username')
            br            
            label(for='email') Email:
            input(type='email', placeholder='name@email.com' name='email')
            br            
            label(for='password') Password:
            input(type='password' name='password')
            br            
            label(for='pass_confirmation') Confirm Password:
            input(type='pass_confirmation' name='pass_confirmation')

        a(href='/sign_up')
            button(type='submit') Sign Up