extends layout

block content
    h1 Log In
        form(method='POST' action='/sign_in')
            label(for='username') Username 
            input(type='text' id='username' placeholder='username' name='username')    
            br            
            label(for='email') Email 
            input(type='text' id='email' placeholder='email' name='email') 
            br
            label(for   ='password') Password 
            input(type='password' id='password' placeholder='password' name='password')
            br
            button(type='submit') Sign In     
        a(href='/sign_up')
           button(type='button') Sign Up

