body {
  padding: 30px;
  font-family: "Clear Sans", "Lucida Grande", sans-serif; font-size: 16px;
  color: #4d4d4d; background-color: #faf8ef;
}

h1 { margin-top: -10px; font-size: 85px; color: #776e65; }
h2 { margin-top: -20px; font-size: 35px; color: #776e65; }

/* Style all input fields */
input, button {
    width: 100%;
    padding: 11px;
    box-sizing: border-box;
    margin-top: 5px; margin-bottom: 8px;
    border: 0px solid #ccc; border-radius: 4px;
}

label {font-weight: bold;}

/* Style the submit button */
input[type=submit] {
	width: 100%;
    color: white;
    cursor: pointer;
    background-color: #8f7a66;
    font-weight: bold; font-size: 18px;
}

button[type=button] {
	color: white;
    cursor: pointer;
    background-color: #8f7a66;
    font-weight: bold; font-size: 18px;
}

button { outline: none; }
:focus { 
    outline-color: #cc9966; 
}

input[type=button] {
	width: 130px;
    color: white;
    cursor: pointer;
    background-color: #8f7a66;
    font-weight: bold; font-size: 18px;
}

fieldset { 
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0;
    border: none;
}

/* Style the container for inputs */
.container {
	margin: 0 auto;
	width: 600px;
    background-color: #e8e5db;
    padding: 20px;
    border-radius: 8px;
}
.container_home {
	margin: 0 auto;
	width: 530px;
}
.container_scores {
	width: 530px;
	margin: 0 auto;
	
}
.score-container:after {
    content: "Score";
}
.score-container {
	margin-right: 5px;
	position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 45px;
    font-weight: bold;
    float: right;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}
.best-container:after {
    content: "Best";
}
.best-container {	
	float: right;
	position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 45px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}
.score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}

.grid-container {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
    background-color: #bbada0;
    padding: 14px;
    border-radius: 8px;
}

.grid-container > div {
	width: 112px;
	height: 106px;
    background-color: #cdc1b4;
    border-radius: 3px;
    /*center numbers*/
    display: flex;
   	justify-content: center;
   	align-items: center;
   	/*style number*/
    font-size: 2.1vw;
    font-weight: bold;
    color: #f9f6f2;
    overflow: hidden;
}

/*Validation messages*/
#messageU,#messageE,#messageP,#messageCF { 
	display:none; 
	font-size: 13px; font-family: Arial, Helvetica, sans-serif; 
}
.stylemessage_red{
	display: inline-block;
	padding: 2px 5px 5px 5px;
	background-color: #ff9999;
	height: 13px;
	border-radius: 5px;
}
.stylemessage_green{
	display: inline-block;
	padding: 2px 5px 5px 5px;
	background-color: #9fdf9f;
	height: 13px;
	border-radius: 5px;
}
.stylemessage_neutral{
	color: #333333; 
	display: inline-block;
	padding: 2px 5px 5px 5px;
	background-color: #cdc7b1;
	height: 13px;
	border-radius: 5px;
}

#logo {width: 5%;}
.heading { margin-top: -40px; margin-bottom: 30px;}
.letterPoint{ color: #eadfd5; }
.point { font-size: 25px;}
.game-intro {font-size: 18px; color: #776e65;}
.right {float: right;}
.two48 {text-align: center;}
.designBy {text-align: center; margin-top: 90px; color: grey}
.designBy_home {text-align: center; margin-top: 30px; color: grey}
.register { margin-left: 27%;}
.newgame { margin-top: -12px }

#cero0{background-color: #eee4da; color: #776e65;}
#cero1{background-color: #ede0c8; color: #776e65;}
#cero2{background-color: #f2b179;}
#cero3{background-color: #f59563;}
#uno0 {background-color: #f67c5f;}
#uno1 {background-color: #f65e3b;}
#uno2 {background-color: #edcf72;}
#uno3 {background-color: #e5b834;}
#dos0 {background-color: #cc9900;}
#dos1 {background-color: #00cc44;}

#message_exist_user {
	display: none; 
	font-size: 17px; font-family: sans-serif; 
	padding-top: 5px;
	color: #cc0000;
}

#message_exist_email {
	display: none; 
	font-size: 17px; font-family: sans-serif; 
	padding-top: 5px;
	color: #cc0000;
}